@import url("https://fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");

a, body, button, div, form, html, input, li, nav, ul {
    background-color: transparent;
    border: 0;
    font-family: Overpass;
    font-size: 14pt;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

input:focus {
    border-color: transparent;
    outline-style: none;
}

body {
    background-color: #F1F0F0;
}

.bottom-left {
    bottom: 20px;
    height: auto;
    left: 20px;
    position: fixed;
}

.h-centered {
    height: auto;
    text-align: center;
}

.v-centered {
    height: 400px;
    margin-top: -280px;
    position: relative;
    top: 50%;
    width: auto;
}

#image {
    background-color: #918A86;
    height: 250px;
    margin: auto;
    position: relative;
    top: 8.33333%;
    width: 250px;
}

#image-border {
    background-color: #FFFFFF;
    height: 300px;
    margin: 0 auto;
    width: 300px;
    -webkit-box-shadow: 0 0 20px 0 #C5C7CE;
    -moz-box-shadow: 0 0 20px 0 #C5C7CE;
    box-shadow: 0 0 20px 0 #C5C7CE;
}

#logo {
    height: 100px;
    margin-bottom: 50px;
}

#landing-form {
    height: auto;
    margin: 60px auto 0 auto;
    width: 400px;
}

#landing-form input {
    height: 45px;
    width: 355px;  /* form width - input height */
}

#main-form {
    height: auto;
    margin: 60px auto 0 auto;
    width: 470px;
}

#main-form input {
    height: 45px;
    width: 425px;  /* form width - input height */
}

#landing-form > ul, #main-form > ul {
    margin-left: 25px;  /* fixes vertical offset caused by submit-button */
}

#landing-form > ul > li, #main-form > ul > li {
    float: left;
    list-style: none;
    width: auto;
}

#landing-form input, #main-form input {
    border-bottom: solid 2px #A0A3AC !important;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#landing-form button, #main-form button {
    cursor: pointer;
    display: none;
    height: 45px;
    width: 45px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#about-text, #about-text a {
    color: #918A86;
    font-size: 9pt;
    font-weight: 500;
    line-height: 150%;
    margin-top: 20px;
}

#about-text a {
    color: #A0A3AC;
    font-weight: 700;
    text-decoration: underline;
}

#avatar-text {
    font-size: 23pt;
    font-weight: 200;
    margin-bottom: 40px;
}

#download-text {
    color: #918A86;
    font-size: 9pt;
    font-style: italic;
    font-weight: 500;
    margin-top: 20px;
}

#input-text {
    font-size: 20pt;
    font-weight: 800;
    text-align: center;
}

#instruction-text {
    font-size: 14pt;
    font-weight: 300;
    margin-bottom: 120px;
}

#welcome-text {
    font-size: 37pt;
    font-weight: 800;
    margin-bottom: 40px;
    text-transform: uppercase;
}
