@import url('https://fonts.googleapis.com/css?family=Overpass:200i,600,700,800&subset=latin-ext');

:root {
  --origamicon-size: 250px;
  --input-height: 45px;

  /* color palette */
  --bg-color: #f0f0f0;
  --frame-color: #ffffff;
  --fade-color: #00000033;
  --light-text-color: #5c5c5c;
  --link-text-color: #2a2a2a;
}

::selection {
  background: white;
}

::-moz-selection {
  background: white;
}

::placeholder {
  color: var(--light-text-color);
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
  opacity: 1;
}

html, body, div, section, form, input, button {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 0;

  font-family: 'Overpass', 'sans-serif';

  transition: all 0.3s;
}

body {
  background-color: var(--bg-color);
}

main {
  height: 100%;
  overflow: hidden;

  text-align: center;
}

h1 {
  position: absolute;
  margin: 0;

  color: var(--link-text-color);
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

@media all and (max-width: 600px) {
  h1 {
    top: 1.25rem;
    left: 1.25rem;

    font-weight: 800;
  }
}

@media all and (min-width: 601px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    width: 200px;
    top: calc(1.25rem + 200px);
    right: 1.25rem;

    transform: rotate(90deg);
    transform-origin: top right;
  }
}

/* ORIGAMICON ****************************************************************/

#logo {
  height: var(--origamicon-size);
  width: var(--origamicon-size);
  margin: 0 auto;
  padding: 20px;
  filter: brightness(105%);
}

#origamicon-frame {
  height: var(--origamicon-size);
  width: var(--origamicon-size);
  margin: 0 auto;
  padding: 20px;

  background-color: var(--frame-color);
  box-shadow: 0 6px 20px 0 var(--fade-color);
}

img {
  height: var(--origamicon-size);
  width: var(--origamicon-size);
}

#download-link {
  height: 120px;
  width: 120px;
  position: relative;
  top: -75%;
  display: none;
  margin: 0 auto;

  background-image: url('../img/download.svg');
  background-size: 100%;

  cursor: pointer;
}

#origamicon-frame:hover > img {
  opacity: 0.3;
}

#origamicon-frame:hover > #download-link {
  display: block;
}

@media all and (max-width: 600px) {
  #origamicon-frame {
    margin-top: calc(10% + 3.5rem);
  }
}

/* FORM **********************************************************************/

form {
  height: auto;
  display: flex;
  justify-content: center;
  margin: 3rem auto 6rem;
}

input[type=text] {
  height: var(--input-height);
  width: 400px;
  margin-left: 45px;
  box-sizing: content-box;

  border: none;
  border-bottom: solid 2px var(--fade-color);

  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
}

input[type=text]:focus {
  border-color: var(--light-text-color);
  outline-style: none;
}

input[type=submit] {
  height: var(--input-height);
  width: var(--input-height);

  background-image: url('../img/submit.svg');
  background-size: 100%;

  color: transparent;

  cursor: pointer;
  opacity: 0.3;
}

input[type=text]:focus + input[type=submit] {
  opacity: 1;
}

@media all and (max-height: 550px) {
  form {
    margin-top: 8%;
  }
}

@media all and (max-width: 500px) {
  input[type=text] {
    width: calc(100% - 40px);
    margin-left: 0;
  }

  input[type=submit] {
    position: absolute;
    right: 15px;

    background-color: var(--bg-color);
    opacity: 1;
  }
}

/* ABOUT ME ******************************************************************/

.corner-text {
  height: auto;
  position: fixed;
  left: 1.25rem;
  bottom: 1.25rem;

  color: var(--light-text-color);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 150%;
}

.corner-text a {
  color: var(--link-text-color);
  font-weight: 700;
  text-decoration: underline;
}
