<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>
    SHA-1 Origamicons
  </title>
  <link rel='shortcut icon'
        href='{{ url_for('static', filename='img/favicon.ico') }}'
  >
  <link href='{{ url_for('static', filename='css/style.css') }}'
        rel='stylesheet'
        type='text/css'
  >
</head>
<body>
<main onload='console.log("error");'>
  {% block content %}{% endblock %}
</main>
<section class='corner-text'>
  Interested?
  <br/>
  Find out more on
  <a href='https://maileablog.wordpress.com/portfolio/sha-1-origamicons/'>
    my blog
  </a>
  <br/>
  or view the source code on
  <a href='https://github.com/Mailea/individual-sha1-origamicons'>
    GitHub
  </a>
</section>
</body>
</html>