{% extends "base.html" %}
{% block content %}
    <div class="h-centered" id="avatar-text">{{ name }}</div>
    <form action="image" class="h-centered"
          id="image-border" method="get">
        <img alt="" id="image" src="data:;base64, {{ image }}"/>
        <button id="download-button" type="submit">
            <img alt=""
                 src="{{ url_for('static', filename='img/download.png') }}"/>
        </button>
    </form>
    <div class="h-centered" id="try-again-text">
        Don't like this avatar? Consider trying a similar name.
    </div>
    <form method="post" id="main-form">
        <ul>
            <li>
                <input autocomplete="off" autofocus id="input-text" name="text"
                       type="text">
            </li>
            <li>
                <button type="submit" id="submit-button" value="">
                    <img alt=""
                         src="{{ url_for('static', filename='img/submit.png') }}"/>
                </button>
            </li>
        </ul>
    </form>
{% endblock %}