<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Origamicons</title>
  <link
    href="{{ url_for('static', filename='img/fav.ico') }}"
    rel="shortcut icon"
  />
  <link
    href="{{ url_for('static', filename='css/style.css') }}"
    rel="stylesheet"
    type="text/css"
  />
  <script src="../static/js/scripts.js"></script>

</head>
<body onload="callOnFocus();">

  <main>

    <h1>Origamicons</h1>

    {% if image %}
      <section id="container" class="origamicon">
        <img
          alt="Origamicon for {{ name }}"
          src="{{ image }}"
        />
        <a
          download="origamicon_{{ name }}.png"
          href="{{ image }}"
        ></a>
      </section>
    {% else %}
      <section id="container" class="logo">
        <img
          alt="Logo"
          src="{{ url_for('static', filename='img/logo_origamicon.png') }}"
        />
        <a></a>
      </section>
    {% endif %}

    <form method="post">
      <input
        autocomplete="off"
        autofocus
        name="origamicon-text"
        onfocus="moveCaretToInputEnd(this);"
        onkeyup="refreshOrigamicon(this);"
        placeholder="Please enter your name here..."
        title="Origamicon Text"
        type="text"
        value="{{ name }}"
      />
      <input
        title="Submit"
        type="submit"
      >
    </form>

  </main>

  <aside>
    Interested?
    <br/>
    Find out more on
    <a href="https://maileablog.wordpress.com/portfolio/sha-1-origamicons/">
      my blog
    </a>
    <br/>
    or view the source code on
    <a href="https://github.com/Mailea/origamicons">
      GitHub
    </a>
  </aside>

</body>
</html>
